appdirs==1.4.4
attrs==21.4.0
cattrs==1.10.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
flake8==4.0.1
greenlet==1.1.2
idna==3.3
lxml==4.8.0
mccabe==0.6.1
multitasking==0.0.10
numpy==1.22.4
pandas==1.4.2
pi==0.1.2
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-cache==0.9.4
six==1.16.0
SQLAlchemy==1.4.36
url-normalize==1.4.3
urllib3==1.26.9
yfinance==0.1.70
